.ipynb_checkpoints/
Big-Data-and-Spark/
Data-Capstone-Projects/.ipynb_checkpoints/
Data-Capstone-Projects/911 Calls Data Capstone Project - Solutions.ipynb
Data-Capstone-Projects/911.csv
Data-Capstone-Projects/Finance Project - Solutions.ipynb
Data-Capstone-Projects/all_banks
Data-Capstone-Projects/precipitation.html
Deep Learning/.ipynb_checkpoints/
Deep Learning/MNIST with Multi-Layer Perceptron.ipynb
Deep Learning/Tensorflow Basics.ipynb
Deep Learning/Tensorflow Project Exercise - Solutions.ipynb
Deep Learning/Tensorflow with ContribLearn.ipynb
Deep Learning/bank_note_data.csv
Machine Learning Sections/Decision-Trees-and-Random-Forests/.ipynb_checkpoints/
Machine Learning Sections/Decision-Trees-and-Random-Forests/Decision Trees and Random Forest Project - Solutions.ipynb
Machine Learning Sections/Decision-Trees-and-Random-Forests/Decision Trees and Random Forests in Python.ipynb
Machine Learning Sections/Decision-Trees-and-Random-Forests/kyphosis.csv
Machine Learning Sections/Decision-Trees-and-Random-Forests/loan_data.csv
Machine Learning Sections/K-Means-Clustering/.ipynb_checkpoints/
Machine Learning Sections/K-Means-Clustering/College_Data
Machine Learning Sections/K-Means-Clustering/K Means Clustering Project - Solutions.ipynb
Machine Learning Sections/K-Means-Clustering/K Means Clustering with Python.ipynb
Machine Learning Sections/K-Nearest-Neighbors/.ipynb_checkpoints/
Machine Learning Sections/K-Nearest-Neighbors/Classified Data
Machine Learning Sections/K-Nearest-Neighbors/K Nearest Neighbors Project - Solutions.ipynb
Machine Learning Sections/K-Nearest-Neighbors/K Nearest Neighbors with Python.ipynb
Machine Learning Sections/K-Nearest-Neighbors/KNN_Project_Data
Machine Learning Sections/Linear-Regression/.ipynb_checkpoints/
Machine Learning Sections/Linear-Regression/Ecommerce Customers
Machine Learning Sections/Linear-Regression/Linear Regression - Project Exercise - Solutions.ipynb
Machine Learning Sections/Linear-Regression/Linear Regression with Python.ipynb
Machine Learning Sections/Linear-Regression/USA_Housing.csv
Machine Learning Sections/Logistic-Regression/
Machine Learning Sections/Natural-Language-Processing/.ipynb_checkpoints/
Machine Learning Sections/Natural-Language-Processing/NLP (Natural Language Processing) with Python.ipynb
Machine Learning Sections/Natural-Language-Processing/NLP Project - Solutions.ipynb
Machine Learning Sections/Natural-Language-Processing/smsspamcollection/
Machine Learning Sections/Natural-Language-Processing/yelp.csv
Machine Learning Sections/Pierian_Data_Logo.png
Machine Learning Sections/Principal-Component-Analysis/
Machine Learning Sections/Recommender-Systems/
Machine Learning Sections/Support-Vector-Machines/.ipynb_checkpoints/
Machine Learning Sections/Support-Vector-Machines/Support Vector Machines Project - Solutions.ipynb
Machine Learning Sections/Support-Vector-Machines/Support Vector Machines with Python.ipynb
Pierian_Data_Logo.png
Python DS Presentations/
Python-Crash-Course/.ipynb_checkpoints/
Python-Crash-Course/Python Crash Course Exercises - Solutions.ipynb
Python-Crash-Course/Python Crash Course.ipynb
Python-for-Data-Analysis/.ipynb_checkpoints/
Python-for-Data-Analysis/NumPy/.ipynb_checkpoints/
Python-for-Data-Analysis/NumPy/NumPy Arrays.ipynb
Python-for-Data-Analysis/NumPy/Numpy Exercise - Solutions.ipynb
Python-for-Data-Analysis/NumPy/Numpy Indexing and Selection.ipynb
Python-for-Data-Analysis/NumPy/Numpy Operations.ipynb
Python-for-Data-Analysis/Pandas/.ipynb_checkpoints/
Python-for-Data-Analysis/Pandas/Data Input and Output.ipynb
Python-for-Data-Analysis/Pandas/DataFrames.ipynb
Python-for-Data-Analysis/Pandas/Excel_Sample.xlsx
Python-for-Data-Analysis/Pandas/Groupby.ipynb
Python-for-Data-Analysis/Pandas/Introduction to Pandas.ipynb
Python-for-Data-Analysis/Pandas/Merging, Joining, and Concatenating .ipynb
Python-for-Data-Analysis/Pandas/Missing Data.ipynb
Python-for-Data-Analysis/Pandas/Operations.ipynb
Python-for-Data-Analysis/Pandas/Pandas Exercises/.ipynb_checkpoints/
Python-for-Data-Analysis/Pandas/Pandas Exercises/Ecommerce Purchases
Python-for-Data-Analysis/Pandas/Pandas Exercises/Ecommerce Purchases Exercise - Solutions.ipynb
Python-for-Data-Analysis/Pandas/Pandas Exercises/SF Salaries Exercise- Solutions.ipynb
Python-for-Data-Analysis/Pandas/Pandas Exercises/Salaries.csv
Python-for-Data-Analysis/Pandas/Series.ipynb
Python-for-Data-Analysis/Pandas/example
Python-for-Data-Analysis/Pandas/multi_index_example
Python-for-Data-Analysis/Pierian_Data_Logo.png
Python-for-Data-Analysis/SciPy/
Python-for-Data-Visualization/Geographical Plotting/.ipynb_checkpoints/
Python-for-Data-Visualization/Geographical Plotting/2011_US_AGRI_Exports
Python-for-Data-Visualization/Geographical Plotting/2012_Election_Data
Python-for-Data-Visualization/Geographical Plotting/2014_World_GDP
Python-for-Data-Visualization/Geographical Plotting/2014_World_Power_Consumption
Python-for-Data-Visualization/Geographical Plotting/Choropleth Maps Exercise - Solutions.ipynb
Python-for-Data-Visualization/Geographical Plotting/Choropleth Maps.ipynb
Python-for-Data-Visualization/Geographical Plotting/plotly_cheat_sheet.pdf
Python-for-Data-Visualization/Matplotlib/.ipynb_checkpoints/
Python-for-Data-Visualization/Matplotlib/Advanced Matplotlib Concepts.ipynb
Python-for-Data-Visualization/Matplotlib/Matplotlib Concepts Lecture.ipynb
Python-for-Data-Visualization/Matplotlib/Matplotlib Exercises - Solutions.ipynb
Python-for-Data-Visualization/Pandas Built-in Data Viz/.ipynb_checkpoints/
Python-for-Data-Visualization/Pandas Built-in Data Viz/Pandas Built-in Data Visualization.ipynb
Python-for-Data-Visualization/Pandas Built-in Data Viz/Pandas Data Visualization Exercise - Solutions.ipynb
Python-for-Data-Visualization/Pandas Built-in Data Viz/df1
Python-for-Data-Visualization/Pandas Built-in Data Viz/df2
Python-for-Data-Visualization/Pandas Built-in Data Viz/df3
Python-for-Data-Visualization/Pierian_Data_Logo.png
Python-for-Data-Visualization/Plotly and Cufflinks/
Python-for-Data-Visualization/Seaborn/.ipynb_checkpoints/
Python-for-Data-Visualization/Seaborn/Categorical Plots.ipynb
Python-for-Data-Visualization/Seaborn/Distribution Plots.ipynb
Python-for-Data-Visualization/Seaborn/Grids.ipynb
Python-for-Data-Visualization/Seaborn/Matrix Plots.ipynb
Python-for-Data-Visualization/Seaborn/Regression Plots.ipynb
Python-for-Data-Visualization/Seaborn/Seaborn Exercises - Solutions.ipynb
Python-for-Data-Visualization/Seaborn/Style and Color.ipynb
README.md
Welcome to the Course.ipynb
